<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="{{ asset('/build/images/logo.svg') }}"/>
		<title>
			{% block title %}Bloom(at)
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="bg-white dark:bg-darkest">

		<header class="flex justify-end fixed w-full bg-white z-10 h-20 pb-3 pt-3 top-0 dark:bg-darkest">
			<div class="mt-2 mr-5">
				<div class="dark-mode cursor-pointer">
					<div class="mode lightmode">
						<p class="flex items-center">
							<i class="faMod far fa-sun text-indigo-600 text-2xl"></i>
						</p>
					</div>
				</div>
			</div>
		</header>

		<main class="content-main container flex justify-around items-center m-auto pr-5 pl-5 pt-28">

			<div class="title">
				<h1 class="title-logo text-gradient text-8xl bg-gradient-to-r from-green-400 to-purple-400 dark:from-white dark:to-white">
					Bloom.<span class="text-6xl">@</span>
				</h1>
				<p class="text-gray-400 text-3xl w-96 mt-10 dark:text-gray-200">Partagez, créez des pensées positives</p>
			</div>
			<div>
				<div class="connexion mt-28">
					<form method="post">
						<div class="flex flex-col justify-end w-full">
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-input py-1 rounded-full border-gray-300 text-indigo-500 focus:border-pink-800" placeholder="Adresse e-mail" required>
							<input type="password" name="password" id="inputPassword" class="form-input py-1 rounded-full border-gray-300 text-indigo-500 mt-3 focus:border-pink-800" placeholder="Mot de passe" required>
						</div>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<button class="mt-3 px-3 py-1 duration-500 border border-gray-200 rounded-md bg-white text-gray-400 dark:text-gray-800 dark:border-gray-800 hover:bg-gray-300 hover:text-white" type="submit">Connexion</button>
					</form>
				</div>
				<div class="inscription flex justify-center items-center mt-10">
					<p class="hover-text-gradiant text-gray-400 dark:text-gray-200 mr-2 text-base">Pas encore de compte ?</p>
					<a href="{{ path('register') }}" class="px-3 py-1 duration-500 border border-gray-200 rounded-md bg-white text-gray-400 dark:text-gray-800 dark:border-gray-800 hover:bg-gray-300 hover:text-white">
						<span>Inscrivez-vous</span>
					</a>
				</div>
			</div>
		</main>
		<footer class="fixed inset-x-0 bottom-0">
			<img class="w-full object-cover" src="{{ asset('/build/images/wave.svg') }}" alt="Wave Design footer">
		</footer>
	</body>
</html>
