{% extends 'base.html.twig' %}

{% block title %}Bloom(at) | Dashboard
{% endblock %}

{% block body %}
	<div class="mb-10 mt-5 flex">
		<div class="mx-1 py-4 px-5 w-1/4 rounded-2xl bg-gray-100 dark:bg-darkbg">
			{% set count = 0 %}
			{% for post in posts %}
				{% set count = count + 1 %}
			{% endfor %}
			<div class="flex items-end">
				<i class="far fa-lightbulb text-darkbg dark:text-white text-3xl"></i>
				<div class="flex items-end">
					<p class="ml-3 mb-0 text-xl text-darkbg dark:text-white font-bold">{{count}}</p>
					<p class="ml-2 tracking-widest text-sm mb-0 font-light uppercase text-darkbg dark:text-white">Posts</p>
				</div>
			</div>
		</div>
		<div class="mx-1 py-4 px-5 w-1/4 rounded-2xl bg-gray-100 dark:bg-darkbg">
			<div class="flex items-end">
				<i class="far fa-heart text-darkbg dark:text-white text-3xl"></i>
				<div class="flex items-end">
					<p class="ml-3 mb-0 text-xl text-darkbg dark:text-white font-bold">4</p>
					<p class="ml-2 tracking-widest text-sm mb-0 font-light uppercase text-darkbg dark:text-white">Favoris</p>
				</div>
			</div>
		</div>
		<div class="mx-1 py-4 px-5 w-1/4 rounded-2xl bg-gray-100 dark:bg-darkbg">
			<div class="flex items-end">
				<i class="far fa-clock text-darkbg dark:text-white text-3xl"></i>
				<div class="flex items-end">
					<p class="ml-3 mb-0 text-xl text-darkbg dark:text-white font-bold">1</p>
					<p class="ml-2 tracking-widest text-sm mb-0 font-light uppercase text-darkbg dark:text-white">En attente</p>
				</div>
			</div>
		</div>
		<div class="mx-1 py-4 px-5 w-1/4 rounded-2xl bg-gray-100 dark:bg-darkbg">
			<div class="flex items-end">
				<i class="far fa-user text-darkbg dark:text-white text-3xl"></i>
				<div class="flex items-end">
					<p class="ml-3 mb-0 text-xl text-darkbg dark:text-white font-bold">100</p>
					<p class="ml-2 tracking-widest text-sm mb-0 font-light uppercase text-darkbg dark:text-white">Amis</p>
				</div>
			</div>
		</div>
	</div>
	<div class="mt-5">
		<h2 class="text-gradient text-xl mt-3 font-bold bg-gradient-to-r from-blue-400 to-pink-400 dark:from-white dark:to-white">Mes derniers posts publiés</h2>
		<div class="flex mt-5">
			{% for lastPost in lastPosts %}
				<div class="relative w-1/3 mx-1 rounded-3xl overflow-hidden border border-transparent dark:border-gray-500">
					<div class="absolute inset-0 opacity-40 bg-black"></div>
					<img class="w-full h-44 object-cover" src="{{ asset('/uploads/' ~ lastPost.img) }}" alt="">
					<div class="absolute inset-y-1/3 inset-x-1/4">
						<p class="text-gray-100 text-xl font-semibold text-center">{{lastPost.title}}<br></p>
						<p class="mt-2 text-gray-100 text-center flex justify-around">
							<span>
								<i class="far fa-heart mr-2"></i>10
							</span>
							<span>
								<i class="fab fa-angellist mr-2"></i>5
							</span>
							<span>
								<i class="far fa-comment mr-2"></i>50
							</span>
						</p>
					</div>
				</div>
			{% else %}
				<p>Vous n'avez publié aucun post pour le moment.</p>
			{% endfor %}
		</div>
	</div>
	<div class="mt-8">
		<h2 class="text-gradient text-xl mt-3 mb-2 font-bold bg-gradient-to-r from-blue-400 to-pink-400 dark:from-white dark:to-white">Mes posts
			<span class="font-light text-sm">
				{% set count = 0 %}
				{% for post in posts %}
					{% set count = count + 1 %}
				{% endfor %}
				({{count}})
			</span>
		</h2>
		{% for post in posts %}
			<div class="flex justify-between items-center">
				<p>{{post.title}}</p>
				<p>{{post.createdAt|date("d/m/y H:m")}}</p>
				<div>
					<a href="{{ path('post_show', {'id': post.id}) }}">Aperçu</a>
					<a href="{{ path('post_edit', {'id': post.id}) }}">Modifier</a>
				</div>
			</div>
		{% else %}
			<p>Vous n'avez publié aucun post pour le moment.</p>
		{% endfor %}
	</div>
{% endblock %}
